@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}
.bg-darker{
  background-color: #161618;
}
.bg-dark{
  color: #3F4245;
}
body {
  @apply text-slate-700;
}

h2 {
  @apply font-bold text-xl;
}
h4 {
  @apply font-semibold;
}
